<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.higanbana">

    <application
        android:allowBackup="true"
        android:label="Higanbana"
        android:supportsRtl="true"
        android:theme="@style/Theme.Higanbana">

        <activity android:name=".ExcluirActivity"/>
        <activity android:name=".AtualizarActivity"/>
        <activity android:name=".AdicionarActivity"/>
        <activity android:name=".EstoqueActivity"/>
        <activity android:name=".LoginActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>